line{
	line-color:#dddddd;
	line-size:0.5;
	/*line-length:fill_screen;*/
}

.boxselect {
	flex: 1;
	padding: 0;
}

.box {
	height: 40;
	border-width: 0.5;
	border-color: #9B9C9C;
	justify-content: flex-start;
	align-items: center;
}

text {
	font-size: 16;
	margin: 0 0 0 0;
	text-align: left;
	text-overflow: ellipsis;
	singleline: true;
	line-space: 0;
}

image {
	height: 30;
	width: 30;
	margin: 4;
}

iconfont {
	height: 30;
	width: 30;
	margin: 4;
}

.readonly {
	background-color: #ffffff;
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
	right: 0;
	opacity: 0.8;
}