.flex1{
	flex:1;
}
.flex2{
	flex:2;
}


.margin2{
	margin:2;
}

.margin4{
	margin:4;
}

.margin6{
	margin:6;
}


.radius2{
	border-radius:2;
}

.radius4{
	border-radius:4;
}


.row-flex-center{
	flex-direction:row;
	justify-content:center;	
	align-items:center;
}

.column-flex-center{
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.checkbox{

	height: 30;
	flex-direction:row;
}

.boxcheck
{      		
		height:30;
		width:30;
		border-width:0.5;		
		justify-content:center;
		align-items:center;	
		border-radius:0;	
} 

.readonly{
        width:30;
        height:30;
        background-color:#ffffff;
        opacity:0.7;
        flex-direction:row;
        align-items:center;
        padding:0 0 0 0;
        margin:0;
        position:absolute;
        left:0;
} 
text{ 
	  margin:0 0 0 4;
      font-size:16;
}
image{
	  height:30;
	  width:30;
}