.text-color{
	color:#549FF7;	
}


/*颜色*/
.bg-turquoise{background-color: #1ABC9C;}
.bg-green-sea{background-color: #16A085;}
.bg-emerland{background-color: #78ba00;}
.bg-nephritis{background-color: #27AE60;}
.bg-peter-river{background-color: #3498DB;}
.bg-belize-hole{background-color: #2980B9;}
.bg-amethyst{background-color: #9B59B6;}
.bg-wisteria{background-color: #8E44AD;}
.bg-wet-asphalt{background-color: #2C3E50;}
.bg-midnight-blue{background-color: #2C3E50;}
.bg-concrete{background-color: #95A5A6;}
.bg-asbestos{background-color: #7F8C8D;}
.bg-clouds{background-color: #ECF0F1;color:#666}
.bg-sliver{background-color:#BDC3C7;}
.bg-alizarin{background-color:#E74C3C;}
.bg-pomegranate{background-color:#C0392B;}
.bg-carrot{background-color:#E67E22;}
.bg-pumpkin{background-color:#D35400;}
.bg-sun-flower{background-color:#F1C40F;}
.bg-orange{background-color:#F39C12;}
.bg-violet{background-color: #9f00a7;}
.bg-white{background-color:#ffffff;}
.bg-black{background-color:#000000;}
.bg-transparent{background-color:transparent;}


.turquoise{color: #1ABC9C;}
.green-sea{color: #16A085;}
.emerland{color: #78ba00;}
.nephritis{color: #27AE60;}
.peter-river{color: #3498DB;}
.belize-hole{color: #2980B9;}
.amethyst{color: #9B59B6;}
.wisteria{color: #8E44AD;}
.wet-asphalt{color: #2C3E50;}
.midnight-blue{color: #2C3E50;}
.concrete{color: #95A5A6;}
.asbestos{color: #7F8C8D;}
.clouds{color: #ECF0F1;color:#666}
.sliver{color:#BDC3C7;}
.alizarin{color:#E74C3C;}
.pomegranate{color:#C0392B;}
.carrot{color:#E67E22;}
.pumpkin{color:#D35400;}
.sun-flower{color:#F1C40F;}
.orange{color:#F39C12;}
.violet{color: #9f00a7;}
.white{color:#ffffff;}
.black{color:#000000;}
.transparent{color:transparent;}
