.flex1{
	flex:1;
}
.flex2{
	flex:2;
}

.sliderbar{	
	flex-direction:row; 
	flex-wrap:nowrap;  
	height:30;
  align-items:center;
}

.sliderbox_btn{
	border-width: 0.5;
	width:30;
	height:30;
	border-radius:15;
	padding:0;
	margin:0;
	position:absolute;
	left:0;
}
.sliderbox_image{
		width:30;
		height:30;
}